body {
  background: url(../img/battledome.jpg) center center fixed;
  background-size:cover;
  margin-left: 10px;
  font-family: 'Iceberg', cursive;
  color: white;
}

a, a:hover{
  text-decoration: none;
  color: white;
  display: inline-block;
  cursor: pointer;
}



/**********************  TOGGLE CLASSES  ***********************/
.disabled {   
  opacity: 0.5;
  pointer-events: none;
} /*Cards displayed on the same page but are not active*/

.selected {  
  box-shadow: 0 0 5px rgba(255,255,255,1) , 0 0 10px rgba(255,255,255,1) , 0 0 15px rgba(255,255,255,1) , 0 0 20px #ff00de , 0 0 35px #ff00de , 0 0 40px #ff00de , 0 0 50px #ff00de ;
} /*Selections that have been clicked on by user*/




/**********************       LOGO       ************************/
#logoBar {
    text-align: center;
}

.logoMain {
  font-family: 'Black Ops One', cursive;
  font-size: 40px;
}

.logoSub {
  font-size: 40px;
}




/***********  PLAYER SETUP CARDS: Base Formatting  **************/
.playSetUpCard {
  position: relative;
  margin-top: 30px;
  padding-left: 15px;
  background-color: black;
  box-shadow: 0 0 2.5px rgba(255,255,255,1) , 0 0 5px rgba(255,255,255,1) , 0 0 7.5px rgba(255,255,255,1) , 0 0 10px #0DDEFF , 0 0 17.5px #0DDEFF , 0 0 20px #0DDEFF , 0 0 25px #0DDEFF ;
}

.cardHeader {
  margin: 15px 30px 0;
  font-size: 30px;
}

.imageLabel {
  margin: 5px 0;
  text-align: center;
  font-size: 20px;
}

.nextArrow {
  font-size: 60px;
}

.nextArrow:hover {
  text-shadow: 0 0 2.5px rgba(255,255,255,1) , 0 0 5px rgba(255,255,255,1) , 0 0 7.5px rgba(255,255,255,1) , 0 0 10px #0DDEFF , 0 0 17.5px #0DDEFF , 0 0 20px #0DDEFF , 0 0 25px #0DDEFF ;
}




/*********** PAGE 1: Card 1: Player Name *************/
#player1Name {
  height: 140px;
}

#p1NameInput {
  width: 70%;
  margin: 15px 0 0 30px;
  padding-left: 20px;
  font-size: 24px;
  color: blue;
}

#p1NameNextArrow {
  position: absolute;
  top: 20px;
  right: 10px;
}


/*********** PAGE 1: Card 2: Player Type *************/
#player1Type {
  height: 300px;
}

.playerType {
  margin: 30px 5px 0 25px;
  display: inline-block;
  width: 20%;
}

#player1Type img {
  margin: 0;
  display: block;
  width: 100%;
}

#p1TypeNextArrow {
  position: absolute;
  top: 100px;
  right: 10px;
}


/*********** PAGE 1: Card 3: Player Model **************/

#player1Model {
  height: 470px;
  font-size: 20px;
}

.playerModel {
  margin: 30px 30px 0;
  display: inline-block;
  width: 85%;
  background: rgba(13, 222, 255, .2);
}

.modelDetailsContainer {
  display: inline-block;
  width: 66%;
  float: right;
}

#player1Model img {
  margin: 15px 30px;
  display: inline-block;
  float: left;
  width: 15%;
}

.playerModel .modelStat h3 {
  margin: 4px;
  display: inline-block;
  font-size: 24px;
}

.playerModel .modelStat .progress {
  display: inline-block;
  width: 60%;
  margin: auto;
}

#p1ModelNextArrow {
  position: absolute;
  top: 225px;
  right: 10px;
}


/*********** PAGE 2: Card 1: Player Weapon **************/
#player1Weapons {
  height: 470px;
}


.playerWeapon {
  width: 70%;
  margin: 15%;
  padding: 10px;
  background: rgba(13, 222, 255, .2);
  font-size: 24px;
  text-align: center;
}

#p1WeaponsNextArrow {
  position: absolute;
  top: 375px;
  right: 10px;
}


/*********** PAGE 2: Card 2: Player Modifications **************/
#player1Modifications {
  height: 470px;
}

.playerModification {
  width: 70%;
  margin: 15%;
  padding: 10px;
  background: rgba(13, 222, 255, .2);
  font-size: 24px;
  text-align: center;
}

#p1ModificationsNextArrow {
  position: absolute;
  top: 375px;
  right: 10px;
}